.menu-box {
  background-color: rgba(0, 0, 0, 0);
}

.menu-list {
  display: flex;
  height: 48px;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 880px) {
  .pc-hide {
    display: block;
  }

  .mobie-hide {
    display: none;
  }

  .res-image {
    width: 602px;
    height: 277px;
    background-image: url();
  }
}
