.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0%;
    align-items: center;
    display: flex;
    height: 71px;
}
.nav-wrapper {
    display: flex;
}

.nav-wrapper ul {
    display: flex;
    align-items: center;
}

.nav-wrapper a {
    padding: 16px;
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

.hero-inner {
    background-image: url(../img/head-img.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.hero-inner h5 {
    text-align: center;
    font-size: 36px;
    line-height: 90px;
    color: #ffffff;
    font-weight: 700;
}

.search-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 16px;
    border-radius: 17px;
    border: 1px solid black;
}

.search-iconb {
    position: relative;
    top: 27%;
    transform: translateY(-20%);
    position: absolute;
    left: 457px;
    z-index: 1;
    width: 18px;
    height: 18px;
    color: #777;
}

#query {
    width: 40%;
    height: 35px;
    border-radius: 60px;
    padding-left: 40px;
    border: none;
    position: relative;
    box-sizing: border-box;
}

.intro {
    text-align: center;
    line-height: 1.5;
}

.intro h1 {
    margin-top: 104px;
    font-size: 26px;
    font-weight: 400;
}

.intro h2 {
    font-size: 22px;
    margin: 20px;
    
}

.intro p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 75px;    
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100
}

.flex-item {
    box-shadow: 0px 9px 30px rgb(200 200 200 / 30%);
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.flex-item h2 {
    font-size: 22px;
    font-weight: 400;
    color: #0015ff;
    margin-top: 130px;
    margin-bottom: 20px;
}

.flex-item hr {
    height: 1px;
    border: none;
    background-color: #99aab5;
    opacity: .5;
    width: 50px;
}

.flex-item h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 13px;
    line-height: 20px;
}

.notice {
    background-image: url(/2-discord/img/notice.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.messenger {
    background-image: url(/2-discord/img/messenger.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.settings {
    background-image: url(/2-discord/img/setting.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.text-chat {
    background-image: url(/2-discord/img/imogi.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.server-setup {
    background-image: url(/2-discord/img/mixer.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.programs {
    background-image: url(/2-discord/img/program.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.store {
    background-image: url(/2-discord/img/market.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.bills {
    background-image: url(/2-discord/img/Bills.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.safety {
    background-image: url(/2-discord/img/shield.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.faq {
    background-image: url(/2-discord/img/find.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
}

.chet {
    background-image: url(/2-discord/img/discord-chet.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    background-color: #f2f2f2;
    width: 240px;
    height: 260px;
}

.twitter {
    background-image: url(/2-discord/img/twitter.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    background-color: #f2f2f2;
    width: 240px;
    height: 260px;
}

#end {
    background-color: #23272A;
    background-size: 235px 185px;
    overflow: hidden;
    margin-top: 70px;
    width: 100%;
}

.content {
    text-align: center;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}

.button {
    background-color: #3BA55C;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    color: #fff;
    margin: 50px 0;
    width: 250px;
    height: 42px;
    border: 0;
}

.apps {
    width: 814px;
    height: 145px;
    background-image: url(/2-discord/img/footer-img.png);
    background-size: 814px 145px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.apps-icon {
    background-image: url(/2-discord/img/circle.svg);
    position: absolute;
    top: 61px;
    opacity: 0.5;
    width: 174px;
    height: 50px;
    left: 87px;
}

.android {
    background-image: url(/2-discord/img/robot.svg);
    position: absolute;
    top: 61px;
    opacity: 0.5;
    width: 174px;
    height: 50px;
    left: 378px;
    background-repeat: no-repeat;
}

.apple {
    background-image: url(/2-discord/img/apple.svg);
    position: absolute;
    top: 61px;
    opacity: 0.5;
    width: 174px;
    height: 50px;
    left: 472px;
    background-repeat: no-repeat;
}

.window {
    background-image: url(/2-discord/img/window.svg);
    position: absolute;
    top: 61px;
    opacity: 0.5;
    width: 174px;
    height: 50px;
    left: 622px;
    background-repeat: no-repeat;
}

.none {
    background-image: url(/2-discord/img/x.svg);
    position: absolute;
    top: 61px;
    opacity: 0.5;
    width: 174px;
    height: 50px;
    left: 694px;
    background-repeat: no-repeat;
}

.nav {
    border-top: 1px solid rgba(219,221,225,.1);
    padding: 0 120px 150px;
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 20px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
}

.links {
    display: flex;
    max-width: 500px;
    width: 100%;
}

.links-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    color: white;
    opacity: 0.3;
}

.links-item {
    padding: 8px 0;
}

.link-hiring {
    color: #3BA55C;
    opacity: 1;
}