.header {
    min-width: 1000px;
    height: 68px; }

    .sprite {
        background: url('imgs/로고.png') no-repeat 0 -98px;
        width: 78px;
        height: 29px;
    }

    .header .headerInner {
        position: relative;
        min-width: 1000px;
        display: -webkit-box;
        display: flex;
        height: 68px;
        background-color: #f6f8fa;
    }